# Lending Tree Credit Risk

### Dependencies and data

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from imblearn.under_sampling import RandomUnderSampler, ClusterCentroids
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.combine import SMOTEENN
from imblearn.ensemble import EasyEnsembleClassifier, BalancedRandomForestClassifier

# print(mpl.style.available)
mpl.style.use('Solarize_Light2')
%matplotlib inline

In [2]:
# Inspect top rows in data
with open('lt-credit-risk/data/loans_1q19.csv') as f:
    for i in range(5):
        print(f.readline()[:100])

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)

"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 yea
"","","21225","21225","21225"," 60 months"," 14.74%","502.05","C","C2","ceo","10+ years","MORTGAGE",
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","","n/a","MORTGAGE","62000","Not

In [3]:
# Data
df = pd.read_csv('lt-credit-risk/data/loans_1q19.csv', skiprows=1, low_memory=False)
print(df.shape)
df.head(3)

(115677, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

### Drop unusable data

In [4]:
# Drop rows and columns with more than 10% its values missing
df.dropna(axis=1, thresh=df.shape[0]*0.9, inplace=True) # drop cols
df.dropna(axis=0, thresh=df.shape[1]*0.9, inplace=True) # drop rows
df.shape

(115674, 97)

In [5]:
# Drop constant columns
const_cols = df.nunique()[df.nunique() < 2].index # cols w/ 1 unique val
df.drop(const_cols, axis=1, inplace=True)
df.shape

(115674, 87)

In [6]:
# Drop newly issued loans
df = df[df['loan_status'] != 'Issued']
df.shape

(96839, 87)

### Convert all columns to numeric

In [7]:
# Inspect non-numeric columns
df_num = df.copy() # make a copy
obj_cols = df_num.dtypes[df_num.dtypes == object].index
df[obj_cols].head(3)

,term,int_rate,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,next_pymnt_d,last_credit_pull_d,application_type
80,60 months,13.08%,B,B5,< 1 year,MORTGAGE,Verified,Mar-2019,Fully Paid,debt_consolidation,Debt consolidation,240xx,VA,Jul-2005,66.7%,w,NaN,Apr-2019,Individual
82,36 months,22.50%,D,D3,10+ years,RENT,Not Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,957xx,CA,Aug-2002,95.6%,w,May-2019,Apr-2019,Individual
93,36 months,17.19%,C,C5,9 years,RENT,Source Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,765xx,TX,Apr-2009,43.5%,w,May-2019,Apr-2019,Individual

In [8]:
""" String manipulation """

# Convert `term` to numeric
df_num['term'] = df['term'].str.replace(' months', '').astype(float)

# Convert `int_rate` to numeric
df_num['int_rate'] = df['int_rate'].str.replace('%', '').astype(float)

# Convert `emp_length` to numeric
df_num['emp_length'] = df['emp_length'].str.extract('(\d+)').astype(float)

# Convert `revol_util` to numeric
df_num['revol_util'] = df['revol_util'].str.replace('%', '').astype(float)

df_num[obj_cols].head(3)

,term,int_rate,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,next_pymnt_d,last_credit_pull_d,application_type
80,60.0,13.08,B,B5,1.0,MORTGAGE,Verified,Mar-2019,Fully Paid,debt_consolidation,Debt consolidation,240xx,VA,Jul-2005,66.7,w,NaN,Apr-2019,Individual
82,36.0,22.50,D,D3,10.0,RENT,Not Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,957xx,CA,Aug-2002,95.6,w,May-2019,Apr-2019,Individual
93,36.0,17.19,C,C5,9.0,RENT,Source Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,765xx,TX,Apr-2009,43.5,w,May-2019,Apr-2019,Individual

In [9]:
""" Datetime manipulation """

# Create a new column for `issue_d` as numeric type
df_num['issue_month'] = pd.to_datetime(df['issue_d']).dt.month

# Create a new column for `earliest_cr_line` as numeric type
df_num['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line']) # convert to dt
youngest_cr = df_num['earliest_cr_line'].max() # latest date in data
df_num['oldest_cr_age'] = (youngest_cr - df_num['earliest_cr_line']).dt.days # oldest credit age

# Create a new column for 'last_credit_pull_d' as numeric type
df_num['last_credit_pull_month'] = pd.to_datetime(df['last_credit_pull_d']).dt.month
df_num['last_credit_pull_month'] = df_num['last_credit_pull_month'].replace(12, 0) # set Dec 2018 as month 0

df_num[obj_cols].head(3)

,term,int_rate,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,next_pymnt_d,last_credit_pull_d,application_type
80,60.0,13.08,B,B5,1.0,MORTGAGE,Verified,Mar-2019,Fully Paid,debt_consolidation,Debt consolidation,240xx,VA,2005-07-01,66.7,w,NaN,Apr-2019,Individual
82,36.0,22.50,D,D3,10.0,RENT,Not Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,957xx,CA,2002-08-01,95.6,w,May-2019,Apr-2019,Individual
93,36.0,17.19,C,C5,9.0,RENT,Source Verified,Mar-2019,Current,debt_consolidation,Debt consolidation,765xx,TX,2009-04-01,43.5,w,May-2019,Apr-2019,Individual

In [10]:
""" Numeric mapping """

# Convert `grade` to numeric
grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7} # num mapping
df_num['grade'] = df['grade'].map(grade_mapping).astype(float)

# Convert `home_ownership` to numeric
home_mapping = dict.fromkeys(['RENT', 'ANY', 'NONE'], 0) # num mapping
home_mapping.update(dict.fromkeys(['MORTGAGE', 'OWN'], 1)) # add 1 label
df_num['home_ownership'] = df['home_ownership'].map(home_mapping).astype(float)

# Convert `verification_state` to numeric
df_num['verification_status'] = df['verification_status'].str.replace('Source ', '') # combine verified labels
veri_mapping = {'Not Verified': 0, 'Verified': 1} # num mapping
df_num['verification_status'] = df['verification_status'].map(veri_mapping).astype(float)

# Create a new column for `initial_list_status` as numeric type
init_mapping = {'f': 0, 'w': 1} # num mapping
df_num['whole_loan'] = df['initial_list_status'].map(init_mapping).astype(float)

# Create a new column for `application_type` as numeric type
app_mapping = {'Individual': 0, 'Joint App': 1} # num mapping
df_num['joint_app'] = df['application_type'].map(app_mapping).astype(float)

# Create a new column for `loan_status` as numeric type
stat_mapping = dict.fromkeys(['Charged Off', 'In Grace Period', # num mapping
                              'Late (16-30 days)', 'Late (31-120 days)'], 1) # high risk
stat_mapping.update(dict.fromkeys(['Fully Paid', 'Current'], 0)) # low risk
df_num['high_risk'] = df['loan_status'].map(stat_mapping).astype(float)

df_num[obj_cols].head(3)

,term,int_rate,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,next_pymnt_d,last_credit_pull_d,application_type
80,60.0,13.08,2.0,B5,1.0,1.0,1.0,Mar-2019,Fully Paid,debt_consolidation,Debt consolidation,240xx,VA,2005-07-01,66.7,w,NaN,Apr-2019,Individual
82,36.0,22.50,4.0,D3,10.0,0.0,0.0,Mar-2019,Current,debt_consolidation,Debt consolidation,957xx,CA,2002-08-01,95.6,w,May-2019,Apr-2019,Individual
93,36.0,17.19,3.0,C5,9.0,0.0,NaN,Mar-2019,Current,debt_consolidation,Debt consolidation,765xx,TX,2009-04-01,43.5,w,May-2019,Apr-2019,Individual

In [11]:
""" One-hot encoding """

# Group labels into 3 categories
df_num['purpose'] = df['purpose'].replace(['debt_consolidation', 'credit_card', 'medical'], 'debt') \
                                 .replace(['home_improvement', 'car', 'house', 'vacation'], 'major_purchase') \
                                 .replace(['small_business', 'moving', 'renewable_energy', 'other'], '_other')

# One-hot encode `purpose` and drop the last label
df_num = pd.get_dummies(df_num, columns=['purpose'], drop_first=True)
df_num.head(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_bc_limit,total_il_high_credit_limit,issue_month,oldest_cr_age,last_credit_pull_month,whole_loan,joint_app,high_risk,purpose_debt,purpose_major_purchase
80,35000.0,35000.0,35000.0,60.0,13.08,797.80,2.0,B5,1.0,1.0,...,32700.0,130876.0,3,3867,4.0,1.0,0.0,0.0,1,0
82,20000.0,20000.0,20000.0,36.0,22.50,769.00,4.0,D3,10.0,0.0,...,47000.0,30797.0,3,4932,4.0,1.0,0.0,0.0,1,0
93,10500.0,10500.0,10500.0,36.0,17.19,375.35,3.0,C5,9.0,0.0,...,2000.0,61987.0,3,2497,4.0,1.0,0.0,0.0,1,0

### Additional cleaning

In [12]:
# Drop redundant cols
cols_to_drop = ['title', 'sub_grade', 'zip_code', 'issue_d', 'loan_status', 
                'earliest_cr_line', 'addr_state', 'verification_status', 'next_pymnt_d', 
                'last_credit_pull_d', 'initial_list_status', 'application_type']
df_num.drop(cols_to_drop, axis=1, inplace=True)
df_num.shape

(96839, 82)

In [13]:
# Drop rows with missing values
df_num.dropna(inplace=True)
df_num.shape

(84198, 82)

In [14]:
# Find highly correlated columns
cor_cols = []
for i in range(df_num.shape[1] - 1):
    for j in range(i + 1, df_num.shape[1]):
        col1 = df_num.iloc[:, i]
        col2 = df_num.iloc[:, j]
        cor = col1.corr(col2)
        if abs(cor) > 0.7:
            print(col1.name, col2.name, cor)
            if col2.name not in cor_cols:
                cor_cols.append(col2.name)
                
cor_cols

loan_amnt funded_amnt 1.0
loan_amnt funded_amnt_inv 0.999997083401125
loan_amnt installment 0.9361457315663073
loan_amnt out_prncp 0.9628116324949524
loan_amnt out_prncp_inv 0.9628298134887975
funded_amnt funded_amnt_inv 0.999997083401125
funded_amnt installment 0.9361457315663073
funded_amnt out_prncp 0.9628116324949524
funded_amnt out_prncp_inv 0.9628298134887975
funded_amnt_inv installment 0.936136708511857
funded_amnt_inv out_prncp 0.9628082995548731
funded_amnt_inv out_prncp_inv 0.9628319067457652
int_rate grade 0.9644165592939707
installment out_prncp 0.8917068406731731
installment out_prncp_inv 0.8917195745051264
open_acc total_acc 0.739408034833447
open_acc num_op_rev_tl 0.8542594490286857
open_acc num_rev_accts 0.7183869384158287
open_acc num_sats 0.9996842051086133
pub_rec pub_rec_bankruptcies 0.9997149746017331
revol_bal total_rev_hi_lim 0.7670091267372624
revol_util bc_util 0.89864728747148
revol_util percent_bc_gt_75 0.7620369638540233
total_acc num_il_tl 0.7277782510031408
total_acc num_rev_accts 0.7662804159157979
total_acc num_sats 0.7381173215213779
out_prncp out_prncp_inv 0.9999973872500134
total_pymnt total_pymnt_inv 0.9999985353116649
total_pymnt total_rec_prncp 0.9951425490198371
total_pymnt last_pymnt_amnt 0.9365825970214021
total_pymnt_inv total_rec_prncp 0.995133811123576
total_pymnt_inv last_pymnt_amnt 0.9365776195126327
total_rec_prncp last_pymnt_amnt 0.943879329422162
tot_cur_bal avg_cur_bal 0.8178296897872436
tot_cur_bal tot_hi_cred_lim 0.9809734927780326
open_acc_6m num_tl_op_past_12m 0.7490855416695127
open_il_12m open_il_24m 0.7483159064272681
total_bal_il total_bal_ex_mort 0.9114051735746352
total_bal_il total_il_high_credit_limit 0.9468487998140618
open_rv_12m open_rv_24m 0.7921355794300482
open_rv_12m num_tl_op_past_12m 0.8329051468571685
open_rv_24m acc_open_past_24mths 0.8425716431876239
total_rev_hi_lim bc_open_to_buy 0.7038949759133607
total_rev_hi_lim total_bc_limit 0.8355388876303983
acc_open_past_24mths num_tl_op_past_12m 0.791711230500556
avg_cur_bal tot_hi_cred_lim 0.775757962350851
bc_open_to_buy total_bc_limit 0.8584443009994038
bc_util percent_bc_gt_75 0.8398295183412864
mo_sin_old_rev_tl_op oldest_cr_age 0.8982383081780757
num_actv_bc_tl num_actv_rev_tl 0.8502893260287687
num_actv_bc_tl num_bc_sats 0.8274032103171495
num_actv_bc_tl num_rev_tl_bal_gt_0 0.8456185625583384
num_actv_rev_tl num_op_rev_tl 0.8015476424790675
num_actv_rev_tl num_rev_tl_bal_gt_0 0.9895328146614707
num_bc_sats num_bc_tl 0.8251777195236811
num_bc_sats num_op_rev_tl 0.8165327823703202
num_bc_tl num_op_rev_tl 0.7196972558587045
num_bc_tl num_rev_accts 0.8413049158971546
num_op_rev_tl num_rev_accts 0.8323150201935474
num_op_rev_tl num_rev_tl_bal_gt_0 0.8039719841576017
num_op_rev_tl num_sats 0.8538752565957276
num_rev_accts num_sats 0.7166407630995819
total_bal_ex_mort total_il_high_credit_limit 0.8937635846378549
purpose_debt purpose_major_purchase -0.7387839859326525

['funded_amnt',
 'funded_amnt_inv',
 'installment',
 'out_prncp',
 'out_prncp_inv',
 'grade',
 'total_acc',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_sats',
 'pub_rec_bankruptcies',
 'total_rev_hi_lim',
 'bc_util',
 'percent_bc_gt_75',
 'num_il_tl',
 'total_pymnt_inv',
 'total_rec_prncp',
 'last_pymnt_amnt',
 'avg_cur_bal',
 'tot_hi_cred_lim',
 'num_tl_op_past_12m',
 'open_il_24m',
 'total_bal_ex_mort',
 'total_il_high_credit_limit',
 'open_rv_24m',
 'acc_open_past_24mths',
 'bc_open_to_buy',
 'total_bc_limit',
 'oldest_cr_age',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_rev_tl_bal_gt_0',
 'num_bc_tl',
 'purpose_major_purchase']

In [15]:
# Drop highly correlated columns, keeping only 1 column per correlation
df_num.drop(cor_cols, axis=1, inplace=True)
df_num.shape

(84198, 48)

In [23]:
# Find integer columns
df_int = df_num % 1
int_cols = df_int.nunique()[df_int.nunique() < 2].index

# Convert above columns to integer type
for col in int_cols:
    df_num[col] = df_num[col].astype(int)
    
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84198 entries, 0 to 84197
Data columns (total 48 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   84198 non-null  int64
 1   term                        84198 non-null  int64
 2   int_rate                    84198 non-null  float64
 3   emp_length                  84198 non-null  int64
 4   home_ownership              84198 non-null  int64
 5   annual_inc                  84198 non-null  float64
 6   dti                         84198 non-null  float64
 7   delinq_2yrs                 84198 non-null  int64
 8   inq_last_6mths              84198 non-null  int64
 9   open_acc                    84198 non-null  int64
 10  pub_rec                     84198 non-null  int64
 11  revol_bal                   84198 non-null  int64
 12  revol_util                  84198 non-null  float64
 13  total_pymnt                 84198 non-null  float64
 14  total_rec_int               84198 non-null  float64
 15  total_rec_late_fee          84198 non-null  float64
 16  collections_12_mths_ex_med  84198 non-null  int64
 17  tot_coll_amt                84198 non-null  int64
 18  tot_cur_bal                 84198 non-null  int64
 19  open_acc_6m                 84198 non-null  int64
 20  open_act_il                 84198 non-null  int64
 21  open_il_12m                 84198 non-null  int64
 22  mths_since_rcnt_il          84198 non-null  int64
 23  total_bal_il                84198 non-null  int64
 24  open_rv_12m                 84198 non-null  int64
 25  max_bal_bc                  84198 non-null  int64
 26  all_util                    84198 non-null  int64
 27  inq_fi                      84198 non-null  int64
 28  total_cu_tl                 84198 non-null  int64
 29  inq_last_12m                84198 non-null  int64
 30  chargeoff_within_12_mths    84198 non-null  int64
 31  delinq_amnt                 84198 non-null  int64
 32  mo_sin_old_il_acct          84198 non-null  int64
 33  mo_sin_old_rev_tl_op        84198 non-null  int64
 34  mo_sin_rcnt_rev_tl_op       84198 non-null  int64
 35  mo_sin_rcnt_tl              84198 non-null  int64
 36  mort_acc                    84198 non-null  int64
 37  mths_since_recent_bc        84198 non-null  int64
 38  num_accts_ever_120_pd       84198 non-null  int64
 39  num_actv_bc_tl              84198 non-null  int64
 40  num_tl_90g_dpd_24m          84198 non-null  int64
 41  pct_tl_nvr_dlq              84198 non-null  float64
 42  issue_month                 84198 non-null  int64
 43  last_credit_pull_month      84198 non-null  int64
 44  whole_loan                  84198 non-null  int64
 45  joint_app                   84198 non-null  int64
 46  high_risk                   84198 non-null  int64
 47  purpose_debt                84198 non-null  int64
dtypes: float64(8), int64(40)
memory usage: 30.8 MB

In [16]:
# Reset index
df_num.reset_index(drop=True, inplace=True)
df_num.head(3)

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,num_accts_ever_120_pd,num_actv_bc_tl,num_tl_90g_dpd_24m,pct_tl_nvr_dlq,issue_month,last_credit_pull_month,whole_loan,joint_app,high_risk,purpose_debt
0,35000.0,60.0,13.08,1.0,1.0,125890.0,30.48,0.0,0.0,14.0,...,0.0,5.0,0.0,100.0,3,4.0,1.0,0.0,0.0,1
1,20000.0,36.0,22.50,10.0,0.0,75000.0,24.37,0.0,0.0,8.0,...,0.0,6.0,0.0,100.0,3,4.0,1.0,0.0,0.0,1
2,10500.0,36.0,17.19,9.0,0.0,66000.0,27.24,0.0,0.0,8.0,...,0.0,1.0,0.0,85.7,3,4.0,1.0,0.0,0.0,1

In [17]:
for col in df_num.columns:
    print(col, df_num[col].nunique())
    print(df_num[col].unique())
    print()

loan_amnt 1436
[35000. 20000. 10500. ... 17850.  4375. 38675.]

term 2
[60. 36.]

int_rate 53
[13.08 22.5  17.19 20.   16.4  14.74  7.56 17.97 15.57  8.19 13.9   8.81
 11.71  7.02 10.33  6.46 12.4  11.02 25.   28.8  29.   11.8  18.94 11.31
 23.4  16.14 13.56 12.98 14.47 26.31 22.35 16.91 15.02 10.72 20.89 29.35
 28.9  28.92 28.97 28.95 24.37 19.92 25.34 27.27 30.75 29.69 30.17  6.
 30.89 30.65 28.72 30.84 30.79]

emp_length 10
[ 1. 10.  9.  8.  3.  6.  7.  2.  4.  5.]

home_ownership 2
[1. 0.]

annual_inc 6448
[125890.  75000.  66000. ...  46572.  75005. 520000.]

dti 5803
[ 30.48  24.37  27.24 ...  46.01  48.16 147.1 ]

delinq_2yrs 19
[ 0.  1.  2.  4.  6.  3.  5. 16.  7. 17.  8. 12. 14.  9. 10. 13. 11. 18.
 15.]

inq_last_6mths 6
[0. 1. 2. 3. 5. 4.]

open_acc 65
[14.  8. 17. 10.  5. 11. 27.  6.  7. 18.  9.  4. 19.  1. 29. 13. 26. 15.
 20. 16. 21. 12.  3. 25. 22. 24. 23. 32. 33. 31. 34.  2. 46. 28. 30. 35.
 52. 38. 51. 36. 37. 42. 41. 45. 43. 58. 39. 40. 54. 49. 48. 44. 56. 55.
 47. 59. 62. 69. 53. 50. 57. 68. 60. 63. 72.]

pub_rec 5
[0. 1. 2. 3. 4.]

revol_bal 36938
[32363. 44934.  1609. ... 59529. 17066. 38465.]

revol_util 1052
[ 66.7  95.6  43.5 ... 107.4 103.5 105.5]

total_pymnt 33279
[35016.52833333   719.           355.29       ...  2964.79
   571.33        2211.84      ]

total_rec_int 28168
[  16.53  150.     60.16 ... 1131.81  238.11 1309.33]

total_rec_late_fee 73
[ 0.   15.   27.87 22.45 38.07 38.56 74.25 38.08 36.59 61.26 34.06 17.63
 43.4  15.06 65.77 25.81 52.88 46.08 26.27 23.92 16.21 49.74 26.09 35.82
 17.2  18.69 28.28 15.32 75.24 22.27 19.43 19.03 49.33 17.61 15.71 27.1
 21.68 26.99 31.09 44.29 44.41 31.7  45.17 52.15 62.93 32.42 18.22 62.27
 27.96 61.65 17.8  30.   23.17 23.51 28.   37.57 27.53 34.68 44.91 45.34
 22.74 66.82 64.97 20.37 22.48 19.56 35.61 28.02 32.12 50.72 22.57 38.92
 19.27]

collections_12_mths_ex_med 7
[0. 1. 2. 3. 4. 6. 5.]

tot_coll_amt 3063
[  69.    0.  178. ... 3654. 1181. 4224.]

tot_cur_bal 72636
[343773.  55014.  38199. ...  17066. 225413. 204764.]

open_acc_6m 14
[ 0.  3.  1.  2.  5.  6. 10.  4.  7.  8.  9. 11. 14. 12.]

open_act_il 39
[ 3.  2.  4.  1.  0.  8.  7.  6. 15.  5. 10. 12. 11. 14. 18. 16. 21.  9.
 29. 13. 24. 22. 20. 26. 17. 28. 41. 30. 19. 31. 38. 25. 27. 23. 36. 35.
 53. 63. 42.]

open_il_12m 7
[2. 0. 1. 3. 5. 4. 6.]

mths_since_rcnt_il 252
[  8.  50.   3.   4.   9.  14.  84.  24.   5.  42.  19.   7.   6.  22.
  53.  10. 146.  11.  13.  29.  15.  17.   2.  21.  16.  40.  41.  32.
  25.  31.  43.  47.  27.   1.  20.  23.  39.  37.  12.  94.  63.  35.
  61.  28.  18.  75.  26. 101. 114.  44. 107. 116.  45.  34. 115.  36.
  30.  52. 111.  55.  54.  80.  79. 121. 163.  87.  33.  76.  93.  57.
  62.  72.  69. 177. 158.  89.  67. 161.  38. 104.  51.  64.  66. 106.
 169.  48.  49.  85. 159.  59.  58.  86.  91.  77. 113. 143. 100.  82.
 136.  99.  65. 149. 298.  68. 132. 194. 127. 134.  73.  88.  46.  56.
 185. 118.  78.  90. 360. 139. 124. 112.  70. 152. 131. 130. 151. 147.
 102.  83. 160. 138. 154. 133.  81. 145. 150. 117. 108. 227. 172. 166.
 126. 103. 109.  97.  71. 175.  98. 129.  60. 162. 105. 148.  74.  95.
 123. 128. 157. 120.  92. 180. 155. 119. 187.   0. 144. 153. 309. 179.
 182. 222. 135. 216. 178. 141. 110. 213. 168. 125. 212. 171. 228. 140.
 137. 190. 165. 279. 164. 215. 197. 237. 183.  96. 142. 173. 199. 156.
 174. 282. 201. 238. 184. 280. 207. 167. 287. 255. 218. 274. 325. 181.
 122. 170. 362. 205. 234. 193. 196. 208. 393. 219. 245. 191. 444. 252.
 273. 281. 176. 224. 203. 278. 258. 272. 192. 195. 202. 249. 265. 243.
 242. 296. 361. 262. 188. 221. 200. 220. 198. 232. 254. 189. 210. 223.]

total_bal_il 52269
[98987. 10080. 36590. ... 27362. 27151. 62953.]

open_rv_12m 18
[ 0.  1.  4.  3.  2.  7. 14.  9.  5.  6. 11.  8. 13. 10. 16. 12. 15. 18.]

max_bal_bc 19513
[10327. 18068.  1553. ... 18924. 15882. 38479.]

all_util 149
[ 61.  71.  58.  69.  41.  11.  73.  59.  76.  13.  65.  77.  74.  92.
  87.  55.  28.  35.  14.  56.  79.  60.  52.  63.  66.  78.  50.  49.
  68.  37.  24.  70.  67.  39.  48.  64.  38.  53.  20.  85.  62.  72.
  86.  94.  47.  22.  45.  75.  83.  34.  51.   7.  31.  40.  80.  12.
  88.  54.  57.  46. 106.  93.  44.  90.  16.  29.  42.  82.  99.  25.
  84.  81.  89.  43.  18.  21.  36.  15.  19.  32.  26.  97.  10.   0.
  33.  23.  95.  98.   8.  91.  30.   9. 100.   3.  27. 104.  17. 109.
   6. 101.   4.  96. 116. 119. 102. 110.   5. 111.   1.   2. 120. 130.
 108. 105. 103. 112. 107. 113. 136. 118. 133. 114. 134. 115. 121. 150.
 117. 125. 126. 135. 155. 123. 145. 137. 122. 127. 142. 147. 124. 129.
 132. 131. 152. 128. 167. 216. 141. 161. 143.]

inq_fi 23
[ 0.  1.  4.  3.  2.  6.  5.  8.  9.  7. 11. 13. 16. 12. 10. 14. 17. 19.
 18. 15. 29. 25. 22.]

total_cu_tl 43
[ 2.  0.  9.  5. 10.  4.  3. 14.  1.  7. 15. 11.  6.  8. 12. 18. 17. 13.
 27. 16. 37. 20. 30. 23. 22. 19. 48. 21. 70. 25. 24. 31. 26. 35. 28. 38.
 29. 51. 55. 34. 36. 33. 44.]

inq_last_12m 34
[ 0.  4.  3.  2.  1.  6.  5. 13.  8. 14.  7. 12. 16. 10.  9. 11. 15. 17.
 24. 18. 22. 19. 20. 23. 29. 33. 25. 21. 30. 26. 39. 27. 31. 42.]

chargeoff_within_12_mths 5
[0. 1. 4. 2. 3.]

delinq_amnt 25
[    0.   350. 32894.  2448. 15550.  3044.   357.  1535. 20938.  1815.
 17033.  3094. 16386. 18336.   162. 14869.   903.   118.   461. 65000.
  3092.    84.   836.  5778.  4278.]

mo_sin_old_il_acct 436
[134. 177.  93.  87. 100.  67.  84. 198. 132.  42. 141. 193.  79.  85.
 114.  53.  63.  55. 146. 133.  74.  50. 153. 136. 170. 181. 158. 175.
  64. 151. 268. 176. 137. 135.  43. 188. 184.  78. 207. 138.  47.  73.
 171.  27.  56. 159. 103.  83. 143. 156. 129. 102. 280. 144. 178.  90.
 163. 155. 191.  94.  98.  17. 120.  62.  37. 115.  41. 108. 150. 173.
 165. 154. 169. 152. 109. 117. 119.  39. 223. 194. 125. 225. 139. 127.
 126. 106. 197. 131. 271. 160. 101.  72. 140.  61.  96.   7. 107. 123.
  33. 112. 187. 192. 145.  65.  44. 210. 124.  66. 239. 190.  70. 149.
 199. 128.  22.  91. 258. 113. 292.  23. 118.  13.  31.  57.  48.  14.
 211.  95.  60. 179.  86. 328.  97. 148. 316. 116. 277. 121.  80. 142.
 164.  54.  81. 147. 208. 162. 110.  58.  30.  21.   4. 167.  82. 215.
 130.  51.  36.   5.  32. 168. 260. 183.  75. 262. 311.  77. 122.  19.
 161.  68.  69. 257. 111.  45.  76. 241. 185.  99. 157. 182. 204. 180.
  29. 305. 206.  88. 201. 220. 196. 264. 293.  24. 174. 104.   9. 166.
  25.  26.  16. 463.  15.  89.  34. 213.  71. 222. 234. 189. 186. 263.
 216.  40.  11. 226. 287.  49.  92.  10. 105.   6. 312. 283. 195. 209.
  59. 237. 228. 203.  38.   1. 272.  52.  20. 200. 233. 261. 227. 297.
 229.  18.  46. 367. 254. 172. 202. 245.  12. 269. 259. 281. 247.  35.
   3.  28. 224. 236. 343. 240. 333. 221. 309. 282. 244. 218. 214. 205.
 243. 344. 284. 425. 230. 298. 246. 249. 329. 270. 326. 256. 212. 319.
 248. 294. 334. 289. 242. 265. 360. 274. 235. 332. 219. 288. 278.   2.
 339. 276. 275. 217. 303. 238. 232. 370. 363. 304. 295. 290.   8. 383.
 231. 376. 346. 437. 448. 313. 377. 372. 296. 320. 279. 340. 384. 255.
 302. 338. 315. 378. 307. 353. 335. 291. 250. 336. 300. 267. 461. 318.
 330. 306. 266. 322. 400. 273. 310. 331. 351. 285. 354. 434. 433. 380.
 286. 317. 379. 352. 402. 347. 301. 342. 365. 327. 358. 252. 325. 251.
 253. 368. 396. 345. 371. 350. 558. 349. 308. 412. 337. 403. 374. 324.
 399. 414. 423. 456. 362. 576. 401. 364. 438. 392. 480. 299. 386. 445.
 422. 369. 321. 381. 393. 355. 485. 361. 409. 453. 356. 398. 341. 323.
 314. 444. 471. 397. 419. 451. 458. 394. 439. 366. 500.   0. 359. 413.
 385. 428. 395. 348. 519. 436. 408. 411. 470. 387. 375. 417. 424. 382.
 454. 415.]

mo_sin_old_rev_tl_op 633
[139. 199.  96. 286.  89. 138.  77. 214. 158.  59. 536. 268.  74.  60.
 103. 117. 186. 271. 191. 132. 159. 460.  52. 194.  80. 304. 291. 313.
  78. 430. 163. 114. 225. 144. 175.  67.  98.  93. 106. 173. 174. 321.
 245. 218.  61. 235. 108. 298. 232.  85. 152.  97. 182. 126. 129. 112.
 326. 259. 353. 250.  49. 162. 324.  69.  47. 167.  90. 145. 140. 151.
  54. 154. 216.  72. 290. 420. 177. 230. 156. 188. 142. 532. 340. 169.
 241. 255. 266. 127. 104. 306.  81. 397. 198.  88. 168. 226. 289. 281.
 187. 122.  75. 201.  53. 205. 143. 322.  92. 123. 264. 410. 160. 118.
 236. 347. 220. 244.  44.  99.  43. 257. 172.  66.  94. 190.  27.  36.
 135. 180. 296. 197. 124.  33. 136. 146. 100. 488. 451.  83. 125. 195.
 155. 171. 278.  20.  71.  56. 137. 128. 358. 310. 308. 222.  41. 165.
 189. 196. 357.  91.  45. 150. 285. 181.  32. 431. 149.  82. 327.  34.
  84. 102. 133.  62.  40. 176. 148. 141. 134. 113. 164. 215. 333. 183.
  68. 210. 415.  19. 515. 343. 284.  24. 272.  65.  42. 234. 246.  46.
  63. 101. 131. 239. 400. 153. 231. 330.  48. 418. 350. 267.  87. 253.
 408. 224. 312. 161.  51.  58.  95. 227.  57.  86. 238. 356. 130. 369.
  64. 107.  35. 242. 111. 277. 279. 293. 441. 157. 115. 249. 179. 105.
 233. 213. 252. 355. 363. 228. 261. 258. 217.  79. 119. 307. 325. 229.
 208.  70. 309. 423. 263. 178. 288. 116. 200.  55. 287. 377. 552. 392.
 211. 371. 386. 361. 192. 292. 247. 262. 256. 212. 260. 110. 166. 202.
  50. 203. 320. 280. 378. 323.  38. 221. 367. 344.  18. 269. 318. 207.
  28. 341. 120. 399. 319. 121. 402. 170. 282. 185.  76.  21.  31.  29.
 315. 364. 295. 273. 594. 223. 294. 206. 219. 204. 248. 360. 209. 184.
 303. 332. 147. 302. 270. 335. 384. 311.  37. 337.  22.  73. 473.  39.
 368. 527. 507. 349. 372. 265. 274. 109. 440. 339. 338. 352. 422. 346.
 354. 370. 243. 193. 348. 305. 328. 425. 345. 484. 382. 393. 366. 472.
 449. 237. 251. 331. 297. 394. 300. 387.  25. 329.  30. 434. 342.   7.
 455. 480. 240. 276. 336. 530. 424.  23. 505. 254. 406. 365. 448. 283.
 442. 383. 457. 317. 491. 301. 401. 275. 299. 334. 414. 316. 469. 395.
 385. 492. 381. 479. 375. 490. 409. 421. 388. 470. 398. 427. 461. 446.
 426. 439. 462. 485. 571. 373. 438. 390. 374. 435. 547. 314. 463. 359.
 496. 447. 376. 495. 379. 407. 504. 459. 396.  16. 389. 486. 538. 429.
 351. 380. 513. 561. 437. 600. 436. 417. 413. 482.  26. 428. 477. 405.
 585. 416. 419.  15. 653. 498. 412.  13. 432. 506. 548. 489. 411. 445.
 452. 540. 404. 502. 403. 487. 450. 503. 444. 475. 565. 510. 466. 501.
 362. 560. 551. 587. 902. 524. 642. 743. 458. 456. 481. 443. 517. 590.
 525. 508. 709. 467. 468. 608.  12. 478. 493. 573. 464. 563.  14. 497.
 391.  17. 612. 545. 511. 558. 476. 554. 593. 572. 586. 494. 549. 512.
 471. 454. 553. 523. 500. 596. 534. 655. 539. 465. 433. 557. 625. 521.
 453. 673. 562. 474. 546. 574. 483. 537. 604. 628. 595. 529. 613.  11.
 567. 583. 606. 555. 633. 550. 499. 681. 601. 598. 528. 582. 526. 610.
  10. 564. 541. 615. 619. 516. 646. 535. 520. 531.   8. 632. 638. 533.
 611. 691. 566. 634. 509. 597. 650. 584. 575. 544.   5. 542. 576. 543.
 605. 698. 589. 514. 518. 647. 635. 591. 660. 636. 684. 648.   4. 706.
 580. 588. 519. 626. 624. 692. 568. 631. 522. 621.   9. 603. 623. 719.
 665. 602. 599.]

mo_sin_rcnt_rev_tl_op 215
[ 34.  12.   3.   1.  24.  11.   4.   6.  26.  22.  15.  14.  43.   9.
  17.   8.   7.  19.   0.   2.  27.  29.  39.  10.  21.  13.  32.   5.
  66.  18.  36.  30.  71.  59.  49.  33.  48.  37.  20.  16.  46.  84.
  41.  23.  55.  28.  35.  42.  38.  31.  40.  51.  25.  74.  54.  57.
  63. 120.  52.  44.  68.  53. 108. 119.  91. 127.  81.  45.  65.  80.
 111.  89. 144.  72.  94.  90.  56.  47. 226.  88.  87.  99.  85.  50.
  70.  58.  62.  67. 147.  83.  60. 164. 146.  79. 103. 122.  76. 138.
 107.  92. 149.  64.  73. 135. 133.  93. 117. 121.  61. 104. 131.  77.
 114.  69. 151.  86.  96. 105. 172.  82. 175. 166. 263.  75. 154. 136.
 113.  95. 129. 102. 125.  78. 174. 126. 115. 132. 118. 185. 130. 101.
 124. 143.  98. 161. 106. 162. 140. 110. 195.  97. 295. 204. 167. 191.
 157. 112. 134. 123. 141. 155. 192. 181. 153. 158. 100. 116. 145. 160.
 178. 202. 232. 137. 109. 139. 128. 165. 267. 243. 197. 229. 150. 152.
 220. 186. 163. 194. 193. 199. 176. 156. 142. 173. 170. 171. 230. 148.
 188. 233. 224. 169. 159. 168. 177. 213. 208. 214. 187. 259. 290. 209.
 182. 183. 218. 190. 196.]

mo_sin_rcnt_tl 118
[  8.  12.   3.   1.   9.  11.   4.   6.  19.  14.  10.  34.   7.  15.
   0.   2.  17.  29.  13.   5.  20.  32.  27.  36.  18.  43.  35.  21.
  37.  16.  28.  23.  22.  31.  38.  25.  44.  24.  39.  33.  26.  49.
  30.  42.  89.  52.  41.  50.  66.  85. 132.  58.  74.  56.  51.  40.
  67.  46.  48.  45. 150. 101.  57.  76.  55.  54.  79.  77.  62.  59.
 108.  72.  47.  60.  53.  69.  93.  68. 128.  75. 104. 100.  81.  73.
  64.  61. 130.  84.  65.  80.  88.  86. 125.  83.  94.  70. 123. 141.
 102.  90. 115.  71. 137.  97.  63. 170. 109. 114.  87.  82.  78. 106.
 107. 131. 153.  98. 175. 140.]

mort_acc 23
[ 6.  0.  2.  4.  1.  3.  5.  8.  7. 10.  9. 14. 11. 15. 12. 16. 13. 21.
 18. 17. 23. 20. 28.]

mths_since_recent_bc 341
[ 34.  12.  20.   1.  11.   4.  13.  35.  30.   3.  22.  49.  15.  14.
  53.   9.  31.  79.   7.  19.  26.   0.   2.  24.  10.  68. 114.   6.
  29.  40.  98.  21.  37.   5.  32.  59.  39.  67.  51.  43.  28.  18.
  17.  36.  52.  27.   8. 177. 176.  81.  50.  62.  48. 101.  33.  16.
 202.  87.  84.  41.  23.  99.  82.  56.  42.  88.  54.  89.  55.  93.
  69.  45.  61. 285.  78.  25.  71. 127.  72. 141.  46.  74.  44.  57.
  63.  38. 120.  58. 123. 143.  75.  66.  47.  86.  73.  64. 180. 119.
  76.  91.  83.  70. 155. 137. 132. 105.  65. 118.  80. 283. 100.  92.
  96. 185. 106. 199. 144. 145. 192.  60.  94. 233.  90. 163.  77. 135.
 216. 121. 226.  85. 168. 368. 131. 156. 146.  97. 110. 140. 112. 126.
 125. 147.  95. 225. 103. 113. 164. 178. 102. 150. 161. 138. 111. 211.
 153. 151. 187. 160. 288. 124. 116. 134. 122. 133. 107. 174. 117. 104.
 108. 193. 237. 139. 130. 167. 203. 232. 257. 249. 142. 389. 231. 172.
 115. 260. 169. 363. 189. 240. 313. 262. 157. 166. 263. 158. 162. 148.
 196. 438. 154. 136. 175. 421. 170. 331. 227. 182. 292. 129. 171. 198.
 191. 186. 190. 181. 152. 221. 236. 159. 341. 209. 378. 194. 248. 373.
 264. 165. 128. 330. 219. 312. 302. 401. 206. 364. 204. 149. 218. 173.
 279. 223. 255. 109. 273. 205. 195. 404. 247. 220. 323. 239. 179. 293.
 251. 184. 380. 188. 215. 300. 276. 183. 210. 343. 270. 399. 208. 267.
 316. 235. 224. 348. 228. 299. 527. 197. 212. 294. 275. 229. 392. 358.
 297. 201. 342. 335. 207. 310. 242. 265. 384. 213. 483. 295. 388. 222.
 259. 311. 433. 271. 351. 258. 245. 381. 217. 471. 289. 244. 462. 230.
 286. 406. 278. 200. 314. 238. 252. 241. 234. 325. 254. 214. 256. 352.
 287. 272. 243. 349. 366. 420. 337. 281. 253. 290. 355. 416. 322. 410.
 443. 301. 326. 250. 345.]

num_accts_ever_120_pd 33
[ 0.  3.  1.  4.  6.  2.  5. 11.  8.  7.  9. 16. 15. 10. 13. 14. 12. 19.
 26. 32. 28. 18. 21. 20. 17. 23. 22. 24. 27. 29. 30. 34. 44.]

num_actv_bc_tl 28
[ 5.  6.  1.  7.  4.  3.  2.  9. 10.  0.  8. 12. 14. 11. 13. 15. 17. 23.
 19. 21. 16. 20. 22. 18. 30. 24. 25. 26.]

num_tl_90g_dpd_24m 19
[ 0.  1.  4.  5.  2.  3. 15.  7. 17. 12.  6.  8. 13. 11. 18. 14.  9. 10.
 16.]

pct_tl_nvr_dlq 446
[100.   85.7  91.2  93.1  97.2  93.   77.8  98.1  76.2  94.   93.8  86.7
  84.6  91.7  94.4  97.8  94.1  90.5  95.   95.2  96.6  89.7  86.4  92.3
  87.5  92.9  96.8  97.4  96.9  97.1  94.9  90.   81.8  94.7  81.5  81.
  73.   96.   96.3  80.8  97.5  95.8  90.9  91.9  93.3  96.2  91.3  94.6
  88.   85.   83.3  95.5  93.5  90.7  88.9  96.7  84.4  84.2  72.   95.3
  84.   95.7  89.3  58.6  98.8  75.   96.4  78.9  70.6  88.2  54.5  97.6
  93.2  97.9  87.8  72.4  91.4  93.9  82.8  73.3  78.6  98.2  76.9  66.7
  76.   70.   82.1  67.   82.6  77.4  89.8  97.7  92.7  98.6  89.5  92.5
  95.1  85.4  73.9  88.5  80.   92.   65.6  90.2  83.   96.1  79.4  86.8
  53.8  97.   90.6  82.   98.   77.3  71.4  68.   75.8  74.2  72.2  78.3
  87.9  86.5  81.3  69.2  90.3  78.8  91.   62.5  63.   68.4  68.2  52.2
  78.   44.   79.2  72.7  50.   92.6  92.1  86.   79.3  38.   74.1  82.4
  85.3  98.5  84.1  64.   97.3  91.8  87.   46.2  98.3  48.   87.3  70.5
  86.1  73.7  78.1  85.2  71.   94.3  89.   65.4  82.9  63.2  86.2  69.6
  88.7  73.1  74.   38.5  84.8  94.2  71.2  83.8  98.4  89.6  55.   57.1
  69.   70.4  61.   76.5  76.7  88.4  77.   75.6  65.2  59.   69.8  65.5
  95.9  60.   89.1  83.9  63.6  80.6  60.5  98.7  91.5  89.2  65.   61.9
  76.3  67.6  70.3  31.   79.   94.8  53.6  51.6  68.8  64.7  75.9  95.6
  33.   57.9  99.   71.1  87.2  58.   58.8  73.2  51.4  56.3  69.4  61.5
  55.6  34.6  87.7  52.   59.1  76.1  92.2  56.5  91.1  62.1  87.1  64.3
  89.4  80.5  68.9  57.   41.7  56.8  60.6  52.9  58.3  45.5  72.3  75.7
  66.   49.2  62.9  78.4  40.   94.5  88.1  53.3  88.6  72.5  40.7  67.7
  84.9  53.1  42.9  77.1  56.7  60.7  85.1  81.4  83.7  79.5  49.1  80.4
  57.7  81.1  54.2  82.2  60.9  70.8  93.6  77.5  67.9  51.9  93.7  64.1
  59.3  71.9  80.3  61.1  82.5  79.1  65.7  44.4  75.5  43.5  69.7  46.7
  96.5  21.4  81.6  48.4  48.6  65.8  47.1  75.4  59.5  68.6  85.5  63.9
  84.7  74.3  84.3  56.   61.3  76.6  77.6  63.3  98.9  26.7  51.2  27.3
  64.9  55.2  47.6  90.4  52.6  45.   45.8  48.5  74.4  78.2  86.3  73.8
  47.4  45.9  36.8  72.9  80.9  33.3  77.9  57.5  52.4  37.5  28.1  51.5
  78.7  54.   71.8  44.2  74.5  38.9  93.4  73.5  55.3  54.8  46.   55.9
  73.6  42.3  83.1  43.   42.4  25.   90.8  86.9  45.2  81.7  36.4  43.8
  41.2  59.2  48.7  71.7  32.   43.3  72.1  54.3  26.3  70.2  70.7  23.5
  20.   47.8  68.3  80.7  79.7  39.1  88.3  92.4  79.6  64.5  65.1  63.4
  47.2  35.7  39.3  76.8  64.4  60.8  67.4  58.7  56.4  27.   51.7  54.9
  65.9  62.   33.9  42.1  34.   95.4  46.8  49.   34.5  37.   48.1  39.
  69.1  27.8  40.9  57.4  61.8  59.6  35.   28.3  30.8  68.5  99.1  48.9
  38.1  28.6  46.9  74.6  53.   92.8  67.5  54.1  67.3  34.3  22.2  85.9
  44.1  23.1]

issue_month 3
[3 2 1]

last_credit_pull_month 5
[4. 3. 2. 1. 0.]

whole_loan 2
[1. 0.]

joint_app 2
[0. 1.]

high_risk 2
[0. 1.]

purpose_debt 2
[1 0]